A blend between all or at least most of the themes {{ themes }} for the specified format <img src="/{{ image }}">

<ul>
<li>
<a href="{%url 'fork' creation_id %}">Fork</a>
</li>
{# for the moment go to down page e.g. http://fabien.benetou.fr:8001/monthlyinterface/108/mergewith/107#}
{#<li>#}
{#{% include 'monthlyinterface/requestmergewith.html' %}#}
{#</li>#}
</ul>
<h3>Previous creations that lead to the current one:</h3>
<ul>
{% for creation in history %}
<li><a href="{% url 'detail' creation.id %}">{{ creation }}</a> ({{ creation.pub_date }})</li>
{% empty %}
<li>No history available.</li>
{% endfor %}
</ul>
